* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
}
/* header section imagme  */
.headSec {
  height: 100vh;
  background-image: linear-gradient(
      rgba(243, 233, 233, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(image.jpg);
  background-position: center;
  background-size: 100% 100%;
}
.image {
  height: 90px;
  width: 170px;
  margin: 20px;
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  align-items: center;
  position:f
}
.topnav ul {
  position: relative;
  /* margin-right: 200px; */
  margin-left: 430px;
}

/* Style the links inside the navigation bar */
.topnav ul a {
  position: relative;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Hahmlet", serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  justify-content: space-evenly;
}

/* Change the color of links on hover */
.topnav ul a:hover {
  background-color: #c71013;
  color: rgb(255, 255, 255);
  transition: 1.5s;
}
.icons {
  position: relative;
  /* left: 40%; */
  padding-left: 16px;
  margin-right: 0px;
  color: #050505;
  /* height: 80px; */
  /* width: 100px; */
  cursor: pointer;
  display: inline;
  justify-content: justify-end;
  line-height: 100px;
}

.icons i {
  padding-left: 0px;
}
li {
  display: inline-block;
  padding: 0px 10px;
}

#hostText {
  margin-top: 200px;
  text-align: center;
  font-family: "Hahmlet", serif;
}
/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #070707;
    color: rgb(255, 255, 255);
  } */
